body {
    margin: 0;
    background-color: #dadada;
  }
  
  
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #111;}
  
  ul.topnav li a.active {background-color: #d49462;}
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }

  
  h1 {
    text-align: center;
  }
  
  h2, h3, h4 {
    margin-top: 20px;
  }
  
  .films-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
  }
  
  .films-table td {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  
  .films-table h1 {
    margin: 0;
  }
  
  #div_1{
    width: 1200px;
    margin: auto;
  }

  @media screen and (min-width: 801px) and (max-width:1000px) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  }
  
    @media screen and (max-width: 800px) and (max-width:800px) {
      body {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr;
      }
  }