/* Configurando o Corpo da Pagina */
body{

    margin-left: 0px;
    margin-top: 0px;
    background-image: url(../projectIMG/Main_Page_IMG/mainBackground.png);
    background-color: white;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
}
/* Modo Escuro */
.dark-mode{
    
    color: white;
    background-image: url(../projectIMG/Main_Page_IMG/darkbackground.png);

}

/* Posicionando o Botão de Modo Escuro/Claro */
#mode{

    grid-column: 5/6;
    grid-row: 1/2;
    z-index: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#mode>button{

    width: fit-content;
    height: fit-content;

}

/* Criando o GRID da página*/
#page{
  
    width: 100vw;
    height: 100vh;

    margin: 0px;

    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 100px 50px 100vh 200px;   

    position: absolute;

    overflow: scroll;


}
/* Cabeçalho */
header{

    grid-column: 1 / 6;
    grid-row: 1 / 2;

    display: flex;
    flex-direction: row;

    background-color: black;

}

/* Menu de Navegação entre Páginas */
nav{

    grid-column: 1 / 6;
    grid-row: 2 / 3;

    position: sticky;
    top: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;

    background-color: rgba(00, 00, 00, 0.8);
    border: 1px solid black;

}

.navItem{

    height: 50px;
    width: 100px;

    text-align: center;

}

.navItem:hover{

    background-color: rgba(00, 00, 00, 1);

}


.link{

    margin-left: 10px;
    text-decoration: none;
    color: white;

}


/* Configurando  rodapé*/

footer{

    grid-column: 1 / 6;
    grid-row: 4 / 5;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;

    background-color: black;
    font-weight: 500;
    color: white;    

}

footer>p{

    font-size: 10px;

}

footer>#hoyoLogo{

    margin-top: 10px;
    width: 250px;
    height: 50px;

}

footer>#footerLogo{

    width: 100px;
    height: 80px;

}






