body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #221a3f;
  color: #fff;
  background-image: url(https://images5.alphacoders.com/100/1001614.jpg);
  background-size: cover;
  background-position: center;
  transition: background-color 0.38s ease-in-out, color 0.38s ease-in-out, background-image 0.38s ease-in-out;
}

header {
  background-color: #221a3f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #fff;
  border-bottom: 4px solid #c31dd2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 1s, border-color 1s;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline;
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.menu a:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

main {
  padding: 20px;
}

.detalhes-filme {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.imagens {
  margin-bottom: 20px;
}

.imagens img {
  max-width: 800px; /* Alterado para "max-width" em vez de "width" */
  height: 600px; /* Alterado para "auto" */
  object-fit: cover;
  border: 4px solid #c31dd2;
}

.plataformas ul {
  list-style-type: none;
  padding: 0;
}

.plataformas ul li {
  display: inline;
  margin-right: 10px;
}

.navegacao {
  margin-top: 20px;
}

.navegacao button {
  padding: 10px 20px;
  background-color: #221a3f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.navegacao button:hover {
  background-color: #372c5a;
}

/* Rodapé */
footer {
  background-color: #221a3f;
  padding: 20px;
  text-align: center;
  color: #fff;
  border-top: 4px solid #c31dd2;
  transition: background-color 1s, border-color 1s;
}

/* Media queries para ajustar o layout em telas menores */
@media screen and (max-width: 768px) {
  header {
    padding: 10px;
  }
  
  .menu li {
    margin-right: 10px;
  }
  
  .navegacao button {
    padding: 8px 16px;
    margin-right: 5px;
  }
  
  footer {
    padding: 10px;
  }
}
