body {
    background-image: url(../imagen/luffy.jpg); /* Define a imagem de fundo */
    background-size: cover; /* Define o tamanho da imagem de fundo para total da pagina */
    background-repeat: no-repeat; /* Impede a repetição da imagem de fundo */
    background-attachment: fixed; /* Fixa a imagem de fundo mesmo ao rolar a página */
    text-align: center; /* Centraliza o texto */
    color: aqua; /* Define a cor do texto */
}

div {
    display: flex; /* Define como flex */
    flex-direction: column; /* Define a direção da como coluna */
    justify-content: center; /* Centraliza os itens */
}

div:nth-child(1) {
   
    align-items: center; /*Centraliz os itens dentro do primeiro filho da div*/

    
}

aside > p {
    color: blueviolet; /* Define a cor do texto*/
    text-decoration: underline; /* Sublinha o texto */
    margin: 10px; /* Define a margem  */
    text-align: center; /* Centraliza o texto */
}

.side-div {
    text-align: left; /* Alinha o texto à esquerda */
    border: 2px solid purple; /* Define uma borda  com cor*/
    margin: 10px; /* Define a margem */
    width: max-content; /* Define a largura com base no conteúdo */
    background-color: black; /* Define a cor de fundo */
}

ol {
    color: purple; /* Define a cor do texto */
}

.text {
    color: purple; /* Define a cor do texto*/
    padding: 4px; /* Define o preenchimento */
    max-width: max-content; /* Define a largura máxima */
    transition: 0.5s ease-in-out; /* Adiciona uma transição suave de 0,5s */
}

.text:hover {
    font-size: 20px; /* Define o tamanho da fonte  ao passar o mouse */
    color: yellow; /* Define a cor do texto  ao passar o mouse */
}

div:nth-child(2) {
    margin-left: auto; /* Define a margem esquerda como automática  isso coloca o div com as listas no canto direito da pagina*/
}
.nav{

    position: absolute;
    
}

.PagIn {
    margin: 5px; /* Define a margem  */
    color: crimson; /* Define a cor do texto  */
    transition: 0.3s ease; /* Adiciona uma transição suave de 0,3s */
}

.PagIn:hover {
    color: purple; /* Define a cor do texto  ao passar o mouse */
    background-color: black; /* Define a cor de fundo ao passar o mouse */
    border: solid 2px purple; /* Define uma borda  ao passar o mouse */
    margin: 5px; /* Define a margem  */
    padding: 5px; /* Define o preenchimento */
}

.menu {
    font-size: 25px; /* Define o tamanho da fonte */
}

fieldset {
    background-color: aquamarine; /* Define a cor de fundo  */
    max-width: max-content; /* Define a largura máxima com base no conteúdo */
}

fieldset > a {
    background-color: aquamarine; /* Define a cor de fundo */
    color: green; /* Define a cor do texto */
    transition: 0.4s ease; /* Adiciona uma transição suave de 0,4s */
}

fieldset > a:hover {
    color: blue; /* Define a cor do texto  ao passar o mouse */
    font-size: 30px; /* Define o tamanho da fonte ao passar o mouse */
}

.footer a {
    border: solid 2px; /* Define uma borda */
    color: aqua; /* Define a cor do texto */
    text-decoration: none; /* Remove a decoração do texto */
    max-width: max-content; /* Define a largura máxima com base no conteúdo */
    position: relative;
    top: 200px;
    
}

@media screen and (max-width: 420px  ) {
    body{
        background-size: 100vw 100vh;
    }
   .nav{
    position: relative;
    
   }
   
    .PagIn{
        color: chartreuse;
        text-shadow: 10px black;
        transition: 0.1s ease;
        font-size: 13px;
    }
    .PagIn:hover{
        font-size: 11px;
        color: yellow;
        border: 1px solid palegreen;
        background-color: rgba(0, 0, 0, 0.689);
        padding: 1px;
    }
    fieldset{
        background-color: aliceblue;

    }
    fieldset>a{
        background-color: aliceblue;
        transition: 0.4s ease;
    }
    
    .side-div{
      
        max-width: max-content;
        font-size: 17px;
        margin: auto;
        margin-top: 10px;
    }
    .text:hover{
        font-size: 12px;
        
    }
    h1{
        font-size: 20px;
    }

    footer{

         position:relative;
         bottom: 200px;
        
        
    }
}