body{
    color: white;
    overflow-x: hidden;
    background-color: rgb(26, 25, 25);
}
/*Sistema de flex da página*/
.flex-container > ul > li{    
    font-size: 30px;
}
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
}
.titulo {
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(243, 239, 239, 0.5);
    font-weight: bold;
}

@media screen and (min-width: 200px) and (max-width:800px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    

}