/*Tirando as margens da página*/
*{
    margin:0;
    padding:0;
    border:0;
}

body{
    background-color: black;
}


/**/
/*Inicio do CSS da barra de navegação*/
/**/
nav > div{
   
    height: 50px;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
}

nav > div > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center; 
    position: relative;
    top: 30%;
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    margin-left: 50px;
}
/**/
/*Fim do CSS da barra de navegação*/
/**/

/**/
/*Inicio do CSS do vídeo como plano de fundo*/
/**/
#bg_video{
	position: fixed; 
	right: 0; 
	bottom: -10px;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -1000;
	background-size: cover;
}
