main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 2rem;
    margin: 100px;
}

button {
    padding: 0.5rem;
    border: 2px solid red;
    background: transparent;
}
a {
    text-decoration: none;
    color: var(--cor-secundaria);
}

div {
    border: 2px solid red;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 2rem;
}
img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: 2px solid red;
}