body {
  background-color: silver;
}
/* definindo cor de fundo da nav */
nav {
  background-color: #333;
}
/* estilizando os elementos li no formato de linha */
nav ul li {
  display: inline-block;
}
/* estilizando a tag 'a', text decoration none para tirar a decoração padrao e adicionando
    uma leve transição */
nav ul li a {
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s;
}

/* definindo cor de fundo quando passar o mouse em cima das opcoes do menu */
nav ul li a:hover {
  background-color: #555;
}
#div2 {
  display: flex;
  justify-content: center;
}
#div-eu {
  display: flex;
  justify-content: center;
}
#eu {
  width: 15%;
  height: 20%;
}
