
  .counteiner {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
  }
  

  .caixa_marcas {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  
  .marcas {
    max-width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .marcas img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .marcas h2 {
    font-size: 25px;
    color: black;
    margin-bottom: 10px;
  }
  
  .marcas p {
    font-size: 20px;
    color: black
  }